#navcontainer {
    margin: 0;
    padding: 0;
    left: 30%;
    top: 10%;
    list-style-type: none;
    position: absolute;
}

#navcontainer a {
    text-decoration: none;
    padding: .1em 0.1em;
    margin-right: 100px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color: #f2f2f2;
}

#navcontaliner a:hover {
    text-decoration: underline;
}

.jumbotron {
    height: 200px;
    background-color: #5cd65c;
    padding: 20px;
    border-bottom: 2px solid #E8E8E8;
}

.slogan {
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 30%;
    left: 17%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    background-color: #fff;
    padding: 3%;
    margin-bottom: 10px;
    width: 95%;
}

.input-table-disable {
    background-color: #fff !important;
    border: 0 !important;
    width: 90%;
}

.area-select2 {
    width: 570px;
    height: 300px;
    resize: none;
}

.messages {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #337AB7;
}

.pagination {
    display: table;
    margin: 0 auto;
    /*    margin : 44% 35%;
    position : absolute;
    top : 63%;
    width : 280px;*/
}

.div-list {
    min-height: 500px;
    height: 500px;
}
